<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Funds Transfer</h1>
    <form action="/transfer" method="post" data-th-object="${transfer}">

        <table>
            <tr>
                <td>From account: </td>
                <td>
                    <select id="" data-th-field="*{fromAccount}">
                        <span>
                            <option 
                                data-th-each="account : ${listOfAccounts}"
                                data-th-text="${account.name} +' ('+${account.accountId} + ')'" 
                                data-th-value="${account.accountId}">
                            </option>
                        </span>
                    </select>
                </td>
            </tr>
            <tr>
                <td>To account: </td>
                <td>
                    <select id="" data-th-field="*{toAccount}">
                        <span>
                            <option 
                                data-th-each="account : ${listOfAccounts}"
                                data-th-text="${account.name} +' ('+${account.accountId} + ')'"
                                data-th-value="${account.accountId}" >
                            </option>
                        </span>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Amount: </td>
                <td>
                    <input type="number" step=".0000001" name="" id="" data-th-field="*{amount}">
                </td>
            </tr>
            <tr>
                <td>Comments: </td>
                <td>
                    <textarea name="" wrap="hard" style="resize: none;" none id="" cols="30" rows="10" placeholder="Type here" data-th-field="*{comments}"></textarea>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Transfer</button>
                </td>
            </tr>
        </table>
        <table data-th-if="${#fields.hasAnyErrors()}">
            <td >
               <b>Errors:</b>
            </td>
            <tr data-th-each="err : ${listOfErr}">
                <td style="white-space: pre-line" data-th-text="${err.getField()}+': '"></td>
                <td data-th-text="${err.getDefaultMessage()}"></td>
            </tr>
        </table>

    </form>
</body>
</html>